.login_card {
    width: 350px;
    margin: 30px;
    border: 30px;
    padding: 30px;
    background: rgb(66, 142, 241);
    border-radius: 25px;
    
    /*Fijamos el contenido interno*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  height: 100vh;
  background: #f4f4f4;
}

.boton_login{
    margin-top: 20px;
    border-radius: 5px;
    height: 45px;
}

.login_text{
    margin-top: 5px;
}